{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "massat/massat.jp:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ],
  "Logging": "/var/log/nginx"
}
